asttokens
autoray
colorama
comm
contourpy
cotengra
cycler
cytoolz
debugpy
decorator
executing
fonttools
ImageIO
ipykernel
ipython
ipython_pygments_lexers
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
llvmlite
matplotlib
matplotlib-inline
nest-asyncio
numba
numpy
packaging
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
python-dateutil
pyzmq
quimb
scipy
six
stack-data
toolz
tornado
tqdm
traitlets
typing_extensions
wcwidth
